<a href="https://colab.research.google.com/github/sponre01/Final_Project/blob/jefron/Training_model/divvy_ml_inv_jze.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
_# Code to read csv file into Colaboratory:
#!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
# Import Dependencies and Setup

import pandas as pd
import numpy as np
import os

In [0]:
Divvy_Trips_2017_Q4_file = 'https://drive.google.com/open?id=1LsLH9xeCHi_wSOr3dBhgXYJ2SHSmjYJM'
Divvy_Trips_2017_Q3_file = 'https://drive.google.com/open?id=1BEBDyOwJWuK0FWg4ZNJX2KFKD0Its3pX'
Divvy_Trips_2017_Q2_file = 'https://drive.google.com/open?id=1Qm0uXp539Cw3oa2GJZGOhMNRKbvEPSti'
Divvy_Trips_2017_Q1_file = 'https://drive.google.com/open?id=1v8nrcYBXBRyJpnDTtfjYcfDDlmI-uXgr'
Divvy_Trips_2016_Q4_file = 'https://drive.google.com/open?id=1QbjLwG_ULMbBbzhs56qosMcVkb-RPskL'
Divvy_Trips_2016_Q3_file = 'https://drive.google.com/open?id=1X_p8tT3POrRwJ9NnT8WpHTIzjdZVn_Cn'

In [0]:
fluff, id_2017_q4 = Divvy_Trips_2017_Q4_file.split('=')
fluff, id_2017_q3 = Divvy_Trips_2017_Q3_file.split('=')
fluff, id_2017_q2 = Divvy_Trips_2017_Q2_file.split('=')
fluff, id_2017_q1 = Divvy_Trips_2017_Q1_file.split('=')
fluff, id_2016_q4 = Divvy_Trips_2016_Q4_file.split('=')
fluff, id_2016_q3 = Divvy_Trips_2016_Q3_file.split('=')

In [0]:
downloaded = drive.CreateFile({'id':id_2017_q4}) 
downloaded.GetContentFile('Filename_17_q4.csv')  
df_2017_q4 = pd.read_csv('Filename_17_q4.csv')
downloaded = drive.CreateFile({'id':id_2017_q3}) 
downloaded.GetContentFile('Filename_17_q3.csv') 
df_2017_q3 = pd.read_csv('Filename_17_q3.csv')
downloaded = drive.CreateFile({'id':id_2017_q2}) 
downloaded.GetContentFile('Filename_17_q2.csv') 
df_2017_q2 = pd.read_csv('Filename_17_q2.csv')
downloaded = drive.CreateFile({'id':id_2017_q1}) 
downloaded.GetContentFile('Filename_17_q1.csv') 
df_2017_q1 = pd.read_csv('Filename_17_q1.csv')
downloaded = drive.CreateFile({'id':id_2016_q3}) 
downloaded.GetContentFile('Filename_16_q4.csv') 
df_2016_q4 = pd.read_csv('Filename_16_q4.csv')
downloaded = drive.CreateFile({'id':id_2016_q3}) 
downloaded.GetContentFile('Filename_16_q3.csv') 
df_2016_q3 = pd.read_csv('Filename_16_q3.csv')

In [0]:
df_2016_q3['starttime']= pd.to_datetime(df_2016_q3['starttime'],format = '%m/%d/%Y %H:%M:%S')
df_2016_q4['starttime']= pd.to_datetime(df_2016_q4['starttime'],format = '%m/%d/%Y %H:%M:%S')
df_2017_q1['start_time'] = pd.to_datetime(df_2017_q1['start_time'],format = '%m/%d/%Y %H:%M:%S')
df_2017_q2['start_time'] = pd.to_datetime(df_2017_q2['start_time'],format = '%m/%d/%Y %H:%M:%S')
df_2017_q3['start_time'] = pd.to_datetime(df_2017_q3['start_time'],format = '%m/%d/%Y %H:%M:%S')
df_2017_q4['start_time'] = pd.to_datetime(df_2017_q4['start_time'],format = '%m/%d/%Y %H:%M')

In [68]:
df_2017_q4['start_time'].head()

0    12/31/2017 23:58
1    12/31/2017 23:54
2    12/31/2017 23:54
3    12/31/2017 23:48
4    12/31/2017 23:42
Name: start_time, dtype: object

In [48]:
df_2017_q4.tail()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
669234,16734070,10/1/2017 0:01,10/1/2017 0:15,1099,837,289,Wells St & Concord Ln,226,Racine Ave & Belmont Ave,Subscriber,Male,1991.0
669235,16734069,10/1/2017 0:00,10/1/2017 0:07,3688,366,45,Michigan Ave & Congress Pkwy,52,Michigan Ave & Lake St,Customer,NaN,NaN
669236,16734068,10/1/2017 0:00,10/1/2017 0:05,1416,264,520,Greenview Ave & Jarvis Ave,447,Glenwood Ave & Morse Ave,Customer,NaN,NaN
669237,16734067,10/1/2017 0:00,10/1/2017 0:06,5396,361,288,Larrabee St & Armitage Ave,289,Wells St & Concord Ln,Subscriber,Female,1984.0
669238,16734066,10/1/2017 0:00,10/1/2017 0:12,5802,741,135,Halsted St & 21st St,129,Blue Island Ave & 18th St,Subscriber,Female,1994.0

In [25]:
df_2016_q3.head()

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,12150160,9/30/2016 23:59:58,10/1/2016 00:04:03,4959,245,69,Damen Ave & Pierce Ave,17,Wood St & Division St,Subscriber,Male,1988.0
1,12150159,9/30/2016 23:59:58,10/1/2016 00:04:09,2589,251,383,Ashland Ave & Harrison St,320,Loomis St & Lexington St,Subscriber,Female,1990.0
2,12150158,9/30/2016 23:59:51,10/1/2016 00:24:51,3656,1500,302,Sheffield Ave & Wrightwood Ave,334,Lake Shore Dr & Belmont Ave,Customer,NaN,NaN
3,12150157,9/30/2016 23:59:51,10/1/2016 00:03:56,3570,245,475,Washtenaw Ave & Lawrence Ave,471,Francisco Ave & Foster Ave,Subscriber,Female,1988.0
4,12150156,9/30/2016 23:59:32,10/1/2016 00:26:50,3158,1638,302,Sheffield Ave & Wrightwood Ave,492,Leavitt St & Addison St,Customer,NaN,NaN

In [70]:
# Combine Trips Divvy Data File and store into Pandas DataFrame

df_2017_Q3Q4_df = df_2017_q4.append(df_2017_q3)
df_2017_Q2Q3Q4_df = df_2017_Q3Q4_df.append(df_2017_q2)
df_2017_df = df_2017_Q2Q3Q4_df.append(df_2017_q1)
#df_2017_df.head()
df_2016_df = df_2016_q3.append(df_2016_q4)
df_tot = df_2017_df.append(df_2016_df)
df_tot.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,bikeid,birthyear,end_time,from_station_id,from_station_name,gender,start_time,starttime,stoptime,to_station_id,to_station_name,trip_id,tripduration,usertype
0,3304,1988.0,1/1/2018 0:03,159,Claremont Ave & Hirsch St,Male,2017-12-31 23:58:00,NaT,NaN,69,Damen Ave & Pierce Ave,17536701,284,Subscriber
1,5975,NaN,1/1/2018 0:18,145,Mies van der Rohe Way & Chestnut St,NaN,2017-12-31 23:54:00,NaT,NaN,145,Mies van der Rohe Way & Chestnut St,17536700,1402,Customer
2,4906,NaN,1/1/2018 0:18,145,Mies van der Rohe Way & Chestnut St,NaN,2017-12-31 23:54:00,NaT,NaN,145,Mies van der Rohe Way & Chestnut St,17536699,1441,Customer
3,5667,1963.0,12/31/2017 23:53,340,Clark St & Wrightwood Ave,Male,2017-12-31 23:48:00,NaT,NaN,143,Sedgwick St & Webster Ave,17536698,315,Subscriber
4,5353,1977.0,12/31/2017 23:47,240,Sheridan Rd & Irving Park Rd,Male,2017-12-31 23:42:00,NaT,NaN,245,Clarendon Ave & Junior Ter,17536697,272,Subscriber

In [0]:
df_tot['start_time'] = df_tot['start_time'].fillna(df_tot['starttime'])

In [0]:
df_slim = df_tot.drop(columns=['starttime','end_time','stoptime'])

In [0]:
df_slim.columns
test = df_slim.head()

In [81]:
test['start_time'].dt.time

0    23:58:00
1    23:54:00
2    23:54:00
3    23:48:00
4    23:42:00
Name: start_time, dtype: object

In [0]:
df_time = df_slim

In [0]:
df_time['year'] = df_time['start_time'].dt.year
df_time['dayofyear'] = df_time['start_time'].dt.dayofyear
df_time['time']= df_time['start_time'].dt.time

In [86]:
df_time

,bikeid,birthyear,from_station_id,from_station_name,gender,start_time,to_station_id,to_station_name,trip_id,tripduration,usertype,year,dayofyear,time
0,3304,1988.0,159,Claremont Ave & Hirsch St,Male,2017-12-31 23:58:00,69,Damen Ave & Pierce Ave,17536701,284,Subscriber,2017,365,23:58:00
1,5975,NaN,145,Mies van der Rohe Way & Chestnut St,NaN,2017-12-31 23:54:00,145,Mies van der Rohe Way & Chestnut St,17536700,1402,Customer,2017,365,23:54:00
2,4906,NaN,145,Mies van der Rohe Way & Chestnut St,NaN,2017-12-31 23:54:00,145,Mies van der Rohe Way & Chestnut St,17536699,1441,Customer,2017,365,23:54:00
3,5667,1963.0,340,Clark St & Wrightwood Ave,Male,2017-12-31 23:48:00,143,Sedgwick St & Webster Ave,17536698,315,Subscriber,2017,365,23:48:00
4,5353,1977.0,240,Sheridan Rd & Irving Park Rd,Male,2017-12-31 23:42:00,245,Clarendon Ave & Junior Ter,17536697,272,Subscriber,2017,365,23:42:00
5,5840,1988.0,93,Sheffield Ave & Willow St,Male,2017-12-31 23:41:00,343,Racine Ave & Wrightwood Ave,17536696,589,Subscriber,2017,365,23:41:00
6,6351,1990.0,337,Clark St & Chicago Ave,Male,2017-12-31 23:34:00,182,Wells St & Elm St,17536695,301,Subscriber,2017,365,23:34:00
7,2562,1987.0,226,Racine Ave & Belmont Ave,Male,2017-12-31 23:21:00,117,Wilton Ave & Belmont Ave,17536694,141,Subscriber,2017,365,23:21:00
8,2471,1981.0,49,Dearborn St & Monroe St,Male,2017-12-31 23:17:00,26,McClurg Ct & Illinois St,17536693,615,Subscriber,2017,365,23:17:00
9,6462,1980.0,196,Cityfront Plaza Dr & Pioneer Ct,Male,2017-12-31 22:57:00,255,Indiana Ave & Roosevelt Rd,17536692,743,Subscriber,2017,365,22:57:00
10,3775,1991.0,59,Wabash Ave & Roosevelt Rd,Male,2017-12-31 22:50:00,72,Wabash Ave & 16th St,17536691,216,Subscriber,2017,365,22:50:00
11,3663,1990.0,59,Wabash Ave & Roosevelt Rd,Female,2017-12-31 22:50:00,72,Wabash Ave & 16th St,17536690,202,Subscriber,2017,365,22:50:00
12,6456,1991.0,475,Washtenaw Ave & Lawrence Ave,Male,2017-12-31 22:48:00,242,Damen Ave & Leland Ave,17536689,420,Subscriber,2017,365,22:48:00
13,5529,1986.0,67,Sheffield Ave & Fullerton Ave,Male,2017-12-31 22:45:00,166,Ashland Ave & Wrightwood Ave,17536688,397,Subscriber,2017,365,22:45:00
14,3536,1988.0,123,California Ave & Milwaukee Ave,Male,2017-12-31 22:42:00,259,California Ave & Francis Pl,17536687,137,Subscriber,2017,365,22:42:00
15,3644,1961.0,523,Eastlake Ter & Rogers Ave,Male,2017-12-31 22:09:00,447,Glenwood Ave & Morse Ave,17536686,677,Subscriber,2017,365,22:09:00
16,2928,1992.0,196,Cityfront Plaza Dr & Pioneer Ct,Male,2017-12-31 22:07:00,626,Delano Ct & Roosevelt Rd,17536685,1200,Subscriber,2017,365,22:07:00
17,5889,1977.0,293,Broadway & Wilson Ave,Male,2017-12-31 22:05:00,245,Clarendon Ave & Junior Ter,17536684,399,Subscriber,2017,365,22:05:00
18,5960,1992.0,510,Spaulding Ave & Division St,Male,2017-12-31 21:57:00,260,Kedzie Ave & Milwaukee Ave,17536683,845,Subscriber,2017,365,21:57:00
19,3079,1988.0,304,Broadway & Waveland Ave,Male,2017-12-31 21:42:00,232,Pine Grove Ave & Waveland Ave,17536680,86,Subscriber,2017,365,21:42:00
20,1619,1990.0,149,Calumet Ave & 33rd St,Male,2017-12-31 21:35:00,148,State St & 33rd St,17536675,263,Subscriber,2017,365,21:35:00
21,5926,1977.0,123,California Ave & Milwaukee Ave,Male,2017-12-31 21:34:00,290,Kedzie Ave & Palmer Ct,17536672,327,Subscriber,2017,365,21:34:00
22,2928,1992.0,211,St. Clair St & Erie St,Male,2017-12-31 21:33:00,196,Cityfront Plaza Dr & Pioneer Ct,17536671,969,Subscriber,2017,365,21:33:00
23,3783,1995.0,320,Loomis St & Lexington St,Male,2017-12-31 21:25:00,22,May St & Taylor St,17536653,339,Subscriber,2017,365,21:25:00
24,4581,1964.0,26,McClurg Ct & Illinois St,Male,2017-12-31 21:21:00,7,Field Blvd & South Water St,17536647,393,Subscriber,2017,365,21:21:00
25,5667,1963.0,143,Sedgwick St & Webster Ave,Male,2017-12-31 21:17:00,340,Clark St & Wrightwood Ave,17536645,303,Subscriber,2017,365,21:17:00
26,3696,1989.0,124,Damen Ave & Cullerton St,Male,2017-12-31 21:17:00,129,Blue Island Ave & 18th St,17536644,318,Subscriber,2017,365,21:17:00
27,6189,NaN,176,Clark St & Elm St,NaN,2017-12-31 21:16:00,37,Dearborn St & Adams St,17536643,2489,Customer,2017,365,21:16:00
28,3777,1977.0,91,Clinton St & Washington Blvd,Male,2017-12-31 21:08:00,66,Clinton St & Lake St,17536642,121,Subscriber,2017,365,21:08:00
29,2928,1992.0,46,Wells St & Walton St,Male,2017-12-31 21:05:00,211,St. Clair St & Erie St,17536641,1662,Subscriber,2017,365,21:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1441781,4517,1992.0,88,May St & Randolph St,Male,2016-07-01 00:10:01,33,State St & Van Buren St,10426688,627,Subscriber,2016,183,00:10:01
1441782,3756,1980.0,501,Richmond St & Diversey Ave,Female,2016-07-01 00:09:53,69,Damen Ave & Pierce Ave,10426687,1195,Subscriber,2016,183,00:09:53
1441783,4607,1991.0,94,Clark St & Armitage Ave,Male,2016-07-01 00:09:41,126,Clark St & North Ave,10426686,207,Subscriber,2016,183,00:09:41
1441784,503,1993.0,177,Theater on the Lake,Male,2016-07-01 00:09:32,177,Theater on the Lake,10426685,1014,Subscriber,2016,183,00:09:32
1441785,3884,1992.0,165,Clark St & Grace St,Male,2016-07-01 00:09:26,153,Southport Ave & Wellington Ave,10426684,540,Subscriber,2016,183,00:09:26
1441786,4681,1989.0,210,Ashland Ave & Division St,Male,2016-07-01 00:09:09,116,Western Ave & Winnebago Ave,10426683,549,Subscriber,2016,183,00:09:09
1441787,69,1984.0,344,Ravenswood Ave & Lawrence Ave,Male,2016-07-01 00:09:06,464,Damen Ave & Foster Ave,10426682,302,Subscriber,2016,183,00:09:06
1441788,4936,1982.0,165,Clark St & Grace St,Male,2016-07-01 00:08:48,298,Lincoln Ave & Belle Plaine Ave,10426681,654,Subscriber,2016,183,00:08:48
1441789,5773,1989.0,334,Lake Shore Dr & Belmont Ave,Male,2016-07-01 00:08:19,177,Theater on the Lake,10426680,608,Subscriber,2016,183,00:08:19
1441790,4443,1982.0,291,Wells St & Evergreen Ave,Male,2016-07-01 00:07:49,364,Larrabee St & Oak St,10426679,426,Subscriber,2016,183,00:07:49
1441791,5052,NaN,331,Halsted St & Blackhawk St (*),NaN,2016-07-01 00:06:23,330,Lincoln Ave & Addison St,10426678,1309,Customer,2016,183,00:06:23
1441792,4509,1990.0,364,Larrabee St & Oak St,Male,2016-07-01 00:06:08,31,Franklin St & Chicago Ave,10426677,975,Subscriber,2016,183,00:06:08
1441793,178,1983.0,292,Southport Ave & Clark St,Male,2016-07-01 00:05:52,246,Ashland Ave & Belle Plaine Ave,10426676,146,Subscriber,2016,183,00:05:52
1441794,3951,NaN,195,Columbus Dr & Randolph St,NaN,2016-07-01 00:05:43,110,Dearborn St & Erie St,10426675,1716,Customer,2016,183,00:05:43
1441795,3424,1981.0,258,Logan Blvd & Elston Ave,Male,2016-07-01 00:05:38,223,Clifton Ave & Armitage Ave,10426674,745,Subscriber,2016,183,00:05:38
1441796,1845,NaN,195,Columbus Dr & Randolph St,NaN,2016-07-01 00:05:20,110,Dearborn St & Erie St,10426673,1731,Customer,2016,183,00:05:20
1441797,315,NaN,177,Theater on the Lake,NaN,2016-07-01 00:04:48,340,Clark St & Wrightwood Ave,10426672,2708,Customer,2016,183,00:04:48
1441798,827,1975.0,165,Clark St & Grace St,Female,2016-07-01 00:04:42,344,Ravenswood Ave & Lawrence Ave,10426671,740,Subscriber,2016,183,00:04:42
1441799,822,NaN,148,State St & 33rd St,NaN,2016-07-01 00:04:20,148,State St & 33rd St,10426670,421,Customer,2016,183,00:04:20
1441800,607,1990.0,182,Wells St & Elm St,Female,2016-07-01 00:04:13,320,Loomis St & Lexington St,10426669,1153,Subscriber,2016,183,00:04:13
1441801,5169,1985.0,325,Clark St & Winnemac Ave,Male,2016-07-01 00:03:35,295,Broadway & Argyle St,10426668,154,Subscriber,2016,183,00:03:35
1441802,308,1989.0,289,Wells St & Concord Ln,Female,2016-07-01 00:03:36,333,Ashland Ave & Blackhawk St,10426667,702,Subscriber,2016,183,00:03:36
1441803,2137,NaN,44,State St & Randolph St,NaN,2016-07-01 00:03:12,44,State St & Randolph St,10426665,4196,Customer,2016,183,00:03:12
1441804,294,1983.0,330,Lincoln Ave & Addison St,Male,2016-07-01 00:03:10,330,Lincoln Ave & Addison St,10426664,127,Subscriber,2016,183,00:03:10
1441805,5485,NaN,44,State St & Randolph St,NaN,2016-07-01 00:03:05,44,State St & Randolph St,10426663,4237,Customer,2016,183,00:03:05
1441806,4225,1980.0,294,Broadway & Berwyn Ave,Male,2016-07-01 00:02:30,458,Broadway & Thorndale Ave,10426662,362,Subscriber,2016,183,00:02:30
1441807,1757,1965.0,264,Stetson Ave & South Water St,Male,2016-07-01 00:02:14,168,Michigan Ave & 14th St,10426661,884,Subscriber,2016,183,00:02:14
1441808,1687,1964.0,264,Stetson Ave & South Water St,Female,2016-07-01 00:02:09,168,Michigan Ave & 14th St,10426660,860,Subscriber,2016,183,00:02:09
1441809,3151,NaN,177,Theater on the Lake,NaN,2016-07-01 00:01:58,340,Clark St & Wrightwood Ave,10426659,2732,Customer,2016,183,00:01:58
1441810,5228,1983.0,246,Ashland Ave & Belle Plaine Ave,Male,2016-07-01 00:01:14,292,Southport Ave & Clark St,10426658,143,Subscriber,2016,183,00:01:14